<h1>Startpage</h1>
<!--
<ul>
    <% for(var i=0; i<length; i++){ %>
        <li>
            <%= "LOOP" + i %>
        </li>
    <% } %>
</ul>
-->
 
<% if(username){ %>
    <h2>Welcome! <%= username %> (name: <%= name %>)</h2>
	<br><input type='button' value='LOGOUT' onclick='javascript:logOut();'>
<% }else{ %>
    <h2> Please Login. </h2>
	<br>username<input type='text' id='username'>
	<br>password<input type='password' id='password'>
	<br><input type='button' value='LOGIN' onclick='javascript:logIn();'>
<% } %>
