 <title>
     <%= title %>
 </title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <script>
	function logIn(){
		var username = document.getElementById('username').value;
		var password = document.getElementById('password').value;
		location.href="/login/"+username+"/"+password;
	}

	function logOut(){
		location.href="/logout";
	}
	function viewList(){
		location.href='/lists';
	}
	function createList(){
		location.href="/lists/new";
	}
	function updateList(idxno){
		location.href="/lists/"+idxno+"/edit";
	}
	function deleteList(idxno){
		document.body.innerHTML += "<form id='delForm' action='/lists/"+idxno+"?_method=delete' method='post'></form>";
		document.getElementById('delForm').submit();
	}
 </script>
