 <title>
     <%= title %>
 </title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <script>
	function logIn(){
		var username = document.getElementById('username').value;
		var password = document.getElementById('password').value;
		location.href="/login/"+username+"/"+password;
	}

	function logOut(){
		location.href="/logout";
	}
 </script>
